:root {
  --bg-main: #f8fafc;
  --card-bg: #ffffff;
  --border-color: #e2e8f0;
  --accent-blue: #3b82f6;
  --accent-orange: #f97316;
  --accent-green: #22c55e;

  --confirmed-bg: #dcfce7;
  --confirmed-text: #15803d;
  --pending-bg: #fef3c7;
  --pending-text: #b45309;
  --bg-color: #121212;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --accent-color: #60a5fa;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  /* padding-left: 240px; */
  background-color: #f8fafc;
  box-sizing: border-box;
  min-width: 0;
  transition: margin-left 0.3s ease;
}

.page-content {
  padding: 20px 40px;
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.page-title h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.page-title p {
  color: #777;
  font-size: 15px;
}

.add-btn {
  background: #4361ee;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.add-btn:hover {
  background: #3151e0;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  gap: 15px;
}

.filter-bar input,
.filter-bar select {
  width: 220px;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0 15px;
  outline: none;
  background: white;
}

.table-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f7f8fc;
}

th {
  padding: 15px;
  text-align: left;
  color: #555;
  font-size: 15px;
}

td {
  padding: 16px 15px;
  border-top: 1px solid #eee;
  color: #555;
}

.patient {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-btn:hover {
  background: #4361ee;
  color: white;
}

tbody tr {
  transition: 0.3s;
}

tbody tr:hover {
  background: #f8faff;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination p {
  color: #777;
  font-size: 14px;
}

.page-number {
  display: flex;
  gap: 8px;
}

.page-number button {
  width: 35px;
  height: 35px;
  border: none;
  background: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
}

.page-number button.active {
  background: #4361ee;
  color: white;
}

@media (max-width: 767.99px) {
  :root {
    --bg-main: #f8fafc;
    --card-bg: #ffffff;
    --border-color: #e2e8f0;
    --accent-blue: #3b82f6;
    --accent-orange: #f97316;
    --accent-green: #22c55e;

    --confirmed-bg: #dcfce7;
    --confirmed-text: #15803d;
    --pending-bg: #fef3c7;
    --pending-text: #b45309;
    --bg-color: #121212;
  }

  body.dark-mode {
    --bg-color: #121212;
    --text-color: #f5f5f5;
    --accent-color: #60a5fa;
  }

  body {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    min-height: 100dvh;
    margin: 0;
  }

  .main {
    min-height: 100dvh;
    width: 100%;
    padding: 16px;
  }
}
